# Service/Clients
dapr >= 1.13.0
dapr-ext-workflow

# API
fastapi >= 0.111.1
uvicorn >= 0.30.3
pydantic >= 2.8.2
pydantic-settings >= 2.3.4
aiohttp>=3.10.5
ujson >= 5.10.0

# Utils
structlog >= 24.4.0
cachetools >= 5.4.0

# JWT Authentication
PyJWT[crypto] >= 2.8.0

# Novu
novu==1.14.0

# Profiling
memory-profiler>=0.61.0

# Socket.IO for realtime WebSocket support
python-socketio[asyncio]>=5.10.0
