namespace: default
pvcName: models-pvc
image: budstudio/minio-downloader:0.3.0
podName: model-transfer
pvcSize: 10
storageClass: default
accessMode: ReadWriteOnce

imagePullSecrets:
  name: bud-registry-secret
  auth: {} # replaced with the actual auth

operation: "download"
minio:
  endpoint: ""
  accessKey: ""
  secretKey: ""
  bucket: ""
  secure: false

modelPath: ""
volumeType: ""
nfs:
  server: ""
  path: "/exports"
