apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: periodic-node-status-update
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: schedule
    value: "@every 3m" # Every 3 minutes
  - name: direction
    value: "input"
  - name: route
    value: "/cluster/periodic-node-status-update"
scopes:
  - budcluster

---

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: periodic-node-metrics-collection
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: schedule
    value: "@every 5m" # Every 5 minutes
  - name: direction
    value: "input"
  - name: route
    value: "/metrics/collect-all-cluster-metrics"
scopes:
  - budcluster

---
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: cluster-recommended-scheduler
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: schedule
    value: "@every 24h" # Every 24 hours
  - name: direction
    value: "input"
  - name: route
    value: "/clusters/recommended-scheduler"
scopes:
  - budapp

---

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: prompt-cleanup-scheduler
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: schedule
    value: "@every 12h" # Every 12 hours
  - name: direction
    value: "input"
  - name: route
    value: "/v1/prompt/prompt-cleanup-cron"
scopes:
  - budprompt
