receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s
    send_batch_size: 5000

exporters:
  clickhouse:
    endpoint: tcp://budprompt-clickhouse:9000?dial_timeout=10s&compress=lz4&async_insert=1
    username: ${env:CLICKHOUSE_USER}
    password: ${env:CLICKHOUSE_PASSWORD}
    database: ${env:CLICKHOUSE_DATABASE}
    logs_table_name: otel_logs
    traces_table_name: otel_traces
    create_schema: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouse]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouse]
