{{- if .Values.hfToken }}
apiVersion: v1
kind: Secret
metadata:
  name: hf-token-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  token: "{{ .Values.hfToken | b64enc }}"
{{- end }}
{{/* bud-registry-secret removed - images are now public */}}
