@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open-Sans";
  src: url("./../public/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lato-regular";
  src: url("./../public/font/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./../public/font/Lato/Lato-Light.ttf") format("truetype");
}

.Lato-Regular {
  font-family: "Lato-regular" !important;
}

.Open-Sans {
  font-family: "Open-Sans" !important;
}

body {
  background: #101010;
  color: #ffffff;
  font-size: 16px;
}

body {
  // background-image: url(./../public/playground.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  // width: 100% !important;
}
.topBg {
  background-image: url(./../public/images/top-bg.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leftBg {
  background-image: url(./../public/images/left-bg.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0px 0px !important;
}

.rightBg {
  background-image: url(./../public/images/right-bg.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0px 0px !important;
}

.ant-layout {
  font-size: 16px !important;
}

.ant-layout * {
  box-sizing: border-box;
  background: transparent;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #965cde;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border: 2px solid #965cde;
}

.chat-container {
  border-radius: 0.875rem !important;
  padding: 0.7rem !important;
  height: 100vh;
  overflow: hidden;
}

.fill-primary {
  fill: #965cde;
  // fill: #5b5bd6;
}

.ant-layout-header {
  padding: 0 !important;
  height: 3.625rem !important;
  line-height: 100% !important;
}

.ant-layout-footer {
  padding-bottom: 0 !important;
}

.ant-layout-footer,
.ant-layout-header,
.ant-layout-sider,
.ant-layout,
.ant-layout-content {
  // coment
  // background: transparent !important;
  background: #101010 !important;
  color: #ffffff !important;
}

.ant-layout-sider {
  border: #1f1f1f 1px solid !important;
}

.chat-app {
  // coment
  // background: transparent;
  background: #101010;
  height: 100%;
}

.chat-message-form {
  border: 1px solid #1f1f1f;
}

.rce-mbox {
  background: transparent;
  box-shadow: none;
  padding: 1rem;
}

.rce-mbox-forward {
  background: transparent;
}

.rce-mbox-time {
  color: #757575;
}

.rce-mbox-right {
  border: 1px solid #1f1f1f;
  text-align: right;
  background: #ffffff03;
}

.ant-btn-default {
  background-color: #1f1f1f !important;
  border: 1px solid #757575 !important;
  color: #eeeeee !important;
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 1rem;

  &:hover {
    background-color: #1f1f1f !important;
    border: 1px solid #b3b3b3 !important;
  }
}

.ant-btn-primary {
  background-color: #1e0c34 !important;
  border: 1px solid #965cde !important;
  color: #eeeeee !important;
  font-size: 0.75rem;
  font-weight: 400;

  &:hover {
    background-color: #7f4f9b !important;
    border: 1px solid #7f4f9b !important;
  }
}

.editor-container {
  background-color: #1f1f1f;
  color: #000;
  position: relative;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.editor-inner {
  position: relative;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.editor-input {
  min-height: 122px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;

  // background: #1F1F1F;
  resize: none;
  font-size: 0.75rem;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 0.5rem 10px;
  caret-color: #757575;
  color: #757575;
  padding-left: 1rem;
}

.editor-placeholder {
  color: #757575;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 1rem;
  left: 1rem;
  font-size: 0.75rem;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.toolbar {
  display: flex;
  margin-bottom: 0px;
  // background: #1F1F1F;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  padding: 6px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 0px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

i {
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100%;
  background-position: center;
}

i.undo {
  background-image: url(/icons/arrow-counterclockwise.svg);
}

i.redo {
  background-image: url(/icons/arrow-clockwise.svg);
}

i.bold {
  background-image: url(/icons/type-bold.svg);
}

i.italic {
  background-image: url(/icons/type-italic.svg);
}

i.underline {
  background-image: url(/icons/type-underline.svg);
}

i.strikethrough {
  background-image: url(/icons/type-strikethrough.svg);
}

i.left-align {
  background-image: url(/icons/text-left.svg);
}

i.center-align {
  background-image: url(/icons/text-center.svg);
}

i.right-align {
  background-image: url(/icons/text-right.svg);
}

i.justify-align {
  background-image: url(/icons/justify.svg);
}

i.indent {
  background-image: url(/icons/text-indentation.svg);
}

i.numbered-list {
  background-image: url(/icons/numbered-list.svg);
}

i.bulleted-list {
  background-image: url(/icons/bullet-list.svg);
}

.budSlider {
  .ant-tooltip {
    .ant-tooltip-inner {
      background-color: #965cde !important;
      color: #eeeeee !important;
      font-size: 0.625rem;
      font-weight: 400 !important;
      min-width: 1.2rem;
      height: 1.05rem;
      min-height: 1.1rem;
      max-height: 1.05rem;
      padding: 0 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }

    .ant-tooltip-arrow::after {
      width: 5.970563px !important;
      height: 5.970563px !important;
      border-radius: 0 0 1px 0;
    }

    .ant-tooltip-arrow::after {
      background-color: #965cde !important;
    }

    .ant-tooltip-arrow {
      bottom: 1.5px;
    }
  }
}

.ant-switch-checked {
  background: #965cde !important;
}

.ant-select {
  width: 100%;
  color: white !important;

  .ant-select-open {
    color: white !important;
  }

  .ant-select-selector {
    background: transparent !important;
    padding: 0.8rem 0rem;
    border: 0.5px solid #757575 !important;
    color: white !important;
    box-shadow: none !important;
  }

  .rc-virtual-list-holder {
    background: #101010 !important;
    border: 1px solid #1f1f1f !important;
  }
}

.ant-select-selection-placeholder {
  padding-left: 0.3rem;
  color: #cfcfcf40;
}

.ant-select-selection-overflow {
  font-size: 0.75rem !important;
}

.custom-ant-input {
  // border: .5px solid #757575 !important;
  input::placeholder {
    color: #757575 !important;
    /* Your desired placeholder color */
    opacity: 1;
    /* Ensure it’s fully opaque */
  }
  .ant-input-suffix {
    display: none !important;
  }
}

.ant-popover-inner {
  color: #ffffff !important;
  padding: 0 !important;
}

.antPopoverArrow {
  .ant-popover-arrow::before {
    background-color: #202020 !important;
  }
}
.custom-select {
  .ant-select {
    height: 2.375rem;

    .ant-select-arrow {
      height: 0.625rem;
    }

    .ant-select-selector {
      background-color: #1e0c344d !important;
      border: 1px solid #67488c !important;
      border-radius: 6px !important;
      box-shadow: 0 1px 1px rgba(187, 132, 255, 0.3),
        0 0px 1px rgba(187, 132, 255, 0.2) !important;
    }

    &:hover .ant-select-selector {
      box-shadow: 0 1px 4px rgba(187, 132, 255, 0.3),
        0 1px 5px rgba(187, 132, 255, 0.2) !important;
    }

    // .menuList {
    //   background: #161616;
    //   backdrop-filter: blur(4px);
    //   border: 1px solid #1f1f1f;
    //   max-height: 150px;
    //   overflow-y: auto;
    // }

    // .menu {
    //   margin-top: 5px !important;
    //   border-radius: 6px !important;
    //   backdrop-filter: blur(4px);
    //   background: #161616 !important;
    //   width: 100.4%;
    //   margin-left: -.2%;

    //   >div>div {
    //     padding: .5rem;
    //     border-radius: 6px !important;

    //     &:hover {
    //       background: #1f1f1f !important;
    //     }

    //     >div {
    //       border-radius: 6px !important;
    //       text-transform: capitalize;
    //     }
    //   }
    // }
    .ant-select-dropdown {
      padding: 0 !important;
      // max-height: 200px;
      // overflow-y: auto;
      background: #161616 !important;
      backdrop-filter: blur(4px) !important;
      border: 1px solid #1f1f1f !important;
      border-radius: 6px;
      min-width: 100px;

      .ant-select-selection-placeholder {
        padding-left: 10px;
        color: #cfcfcf40;
        font-weight: 300 !important;
      }

      .ant-select-item-option-selected {
        background: transparent !important;
      }

      .ant-select-selection-item {
        color: white !important;
      }

      .ant-select {
        color: #eeeeee !important;

        .ant-select-arrow {
          color: #eeeeee !important;
        }
      }

      .ant-select-item {
        color: white !important;
        font-size: 0.75rem;
        // line-height: 100%;
      }

      .ant-select-item.ant-select-item-option-active {
        background: #1f1f1f !important;
      }
    }
  }

  .ant-select-single .ant-select-selector {
    font-family: "Lato-Regular" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #eeeeee !important;
  }
}

.ant-input,
.ant-input-outlined {
  background: transparent !important;
  // background: black !important;
  border: 0.5px solid #757575 !important;
  color: white !important;
  border-radius: 6px !important;

  &.drawerInp {
    background: transparent !important;

    &::placeholder {
      color: #808080 !important;
      font-weight: 300 !important;
    }
  }

  &:focus {
    border: 0.5px solid #eeeeee !important;
  }
}

.ant-input::placeholder {
  color: #808080;
  font-size: 0.75rem;
}

.ant-select-selection-placeholder {
  color: #808080 !important;
  font-weight: 300 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  background: transparent !important;
  // background: black !important;
  border: none !important;
  color: white;
}

.ant-input-affix-wrapper > input.ant-input {
  background: transparent !important;
}

.ant-input-affix-wrapper > input.ant-input::placeholder {
  color: #808080;
  font-weight: 300 !important;
  text-indent: 0.5rem;
  font-size: 0.75rem;
}

.ant-input-affix-wrapper > textarea.ant-input::placeholder {
  color: #808080;
  font-weight: 300 !important;
  font-size: 0.75rem;
}

input.ant-input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}

.ant-select-single.ant-select-lg {
  // min-height: 44px;
  min-height: 40px;
}
