apiVersion: v1
kind: Pod
metadata:
  name: {{ $.Values.podName }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ $.Values.podName }}
spec:
  restartPolicy: Never
  serviceAccountName: model-transfer
  {{- if eq $.Values.deviceType "cpu_high" }}
  affinity:
    {{- if eq $.Values.hardwareMode "shared" }}
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              bud.studio/shared-cpu: "true"
          topologyKey: kubernetes.io/hostname
    {{- end }}
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist
          - key: node-role.kubernetes.io/master
            operator: DoesNotExist
  {{- end }}
  imagePullSecrets:
    - name: {{ $.Values.imagePullSecrets.name }}
  containers:
    - name: transfer
      image: {{ $.Values.image }}
      imagePullPolicy: Always
      args:
        - --model-path={{ $.Values.modelPath }}
        - --operation={{ $.Values.operation }}
        - --local-path=/data/models-registry
        - --use-kubernetes
        - --namespace={{ $.Values.namespace }}
      envFrom:
      - configMapRef:
          name: minio-config-{{ $.Values.podName }}
      volumeMounts:
        - name: model-vol
          mountPath: /data/models-registry
  volumes:
    - name: model-vol
    {{- if eq $.Values.volumeType "nfs" }}
      nfs:
        server: "{{ $.Values.nfs.server }}"
        path: "{{ $.Values.nfs.path }}"
    {{- else if eq $.Values.volumeType "local" }}
      persistentVolumeClaim:
        claimName: "{{ $.Values.pvcName }}"
    {{- end }}
