{{- if not (empty $.Values.clickhouseExtra.autoCreateDB) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-clickhouse-db-create-script"
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
data:
  script.sh: |-
    ch_isready() {
      while true; do
        clickhouse-client \
          --host {{ .Release.Name }}-clickhouse \
          --user {{ .Values.clickhouse.auth.username }} \
          --password {{ .Values.clickhouse.auth.password }} \
          -q ""
        exit_code="$?"

        if [[ "$exit_code" = "0" ]]; then
          break
        else
          echo "Waiting for clickhouse"
          sleep 2
          continue
        fi
      done
    }

    echo "Waiting for ClickHouse to be ready..."
    ch_isready
    echo "ClickHouse is ready"

    echo "Creating databases..."
    clickhouse-client \
      --host {{ .Release.Name }}-clickhouse\
      --user {{ .Values.clickhouse.auth.username }} \
      --password {{ .Values.clickhouse.auth.password }} <<- EOF
    {{- range $.Values.clickhouseExtra.autoCreateDB }}
      CREATE DATABASE IF NOT EXISTS {{ . }};
    {{- end }}
    EOF
    echo "Database initialization complete"
---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-clickhouse-db-create"
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-4"
    "helm.sh/hook-delete-policy": before-hook-creation
    checksum/databases: "{{ join "-" $.Values.clickhouseExtra.autoCreateDB | sha256sum }}"
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      volumes:
        - name: "{{ .Release.Name }}-clickhouse-db-create-script"
          configMap:
            name: "{{ .Release.Name }}-clickhouse-db-create-script"
      containers:
      - name: clickhouse-db-create
        image: "{{ .Values.clickhouse.image.repository }}:{{ .Values.clickhouse.image.tag }}"
        volumeMounts:
          - mountPath: "/var/script.sh"
            name: "{{ .Release.Name }}-clickhouse-db-create-script"
            subPath: script.sh
            readOnly: true
        command: ["/bin/bash", "/var/script.sh"]
      restartPolicy: Never
{{- end }}
