---
- name: Update Autoscale Configuration
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - vars/common.yaml

  vars:
    chart_path: "{{ charts_dir }}/bud_runtime_container"

  roles:
    - create_kubeconfig

  tasks:
    - name: Update autoscale configuration using Helm upgrade
      kubernetes.core.helm:
        release_name: "{{ release_name }}"
        chart_ref: "{{ chart_path }}"
        release_namespace: "{{ namespace }}"
        kubeconfig: "{{ kubeconfig_path }}"
        validate_certs: "{{ validate_certs }}"
        reuse_values: true
        reset_values: false
        values:
          budaiscaler: "{{ budaiscaler | default({}) }}"
      register: helm_result
      failed_when: helm_result.failed

    - name: Log autoscale update result
      ansible.builtin.debug:
        msg: "Autoscale configuration updated for release {{ release_name }} in namespace {{ namespace }}. Enabled: {{ budaiscaler.enabled | default(false) }}"
      when: not helm_result.failed
