apiVersion: v2
name: bud
description: Bud Helm chart for Kubernetes
type: application
icon: https://budecosystem.com/logo.svg
version: 0.1.0
appVersion: "0.4.4"
maintainers:
  - name: "sinanmohd"
    email: "sinan@sinanmohd.com"
    url: "https://www.sinanmohd.com"
dependencies:
  - name: postgresql
    version: 16.7.18
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: valkey
    version: 3.0.20
    repository: https://charts.bitnami.com/bitnami
    condition: valkey.enabled
  - name: clickhouse
    version: 9.3.9
    repository: https://charts.bitnami.com/bitnami
    condition: clickhouse.enabled
  - name: minio
    version: 17.0.15
    repository: https://charts.bitnami.com/bitnami
    condition: minio.enabled
  - name: keycloak
    version: 24.7.7
    repository: https://charts.bitnami.com/bitnami
    condition: keycloak.enabled
  - name: kafka
    version: 32.3.5
    repository: https://charts.bitnami.com/bitnami
    condition: kafka.enabled
  - name: mongodb
    version: 16.5.31
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
  - name: novu
    version: 0.1.6
    repository: file://charts/novu
  - name: mcp-stack
    version: 0.9.0
    repository: file://charts/mcp-stack
    condition: mcpStackEnabled
