APP_NAME=budmodel
NAMESPACE=development
LOG_LEVEL=DEBUG
APP_PORT=9081

DAPR_HTTP_PORT=3510
DAPR_GRPC_PORT=50001
DAPR_INTERNAL_GRPC_PORT=50002
DAPR_PLACEMENT_HOST=0.0.0.0
DAPR_PLACEMENT_PORT=50006
DAPR_SCHEDULER_HOST=0.0.0.0
DAPR_SCHEDULER_PORT=50007
DAPR_METRICS_PORT=9080
DAPR_API_TOKEN=

SECRETS_REDIS_URI=0.0.0.0:6379
SECRETS_REDIS_PASSWORD=

PSQL_HOST=0.0.0.0
PSQL_PORT=5432
PSQL_DB_NAME=budmodel
SECRETS_PSQL_USER=
SECRETS_PSQL_PASSWORD=

HF_HOME_DIR=~/.cache/huggingface/hub
MODEL_DOWNLOAD_DIR=./cache/
MODEL_DOWNLOAD_DIR_MAX_SIZE=300 #GB
# Add model from disk directory
ADD_MODEL_DIR=~/.cache

# Minio
MINIO_ENDPOINT=bud-store.bud.studio
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=models-registry
MINIO_SECURE=true
MINIO_MODEL_BUCKET=model-info

# Aria2p
ARIA2P_HOST=http://localhost
ARIA2P_PORT=6800
ARIA2P_DIRECTORY=~/Downloads
ARIA2P_CONCURRENT_DOWNLOADS=5

# Inference
BUD_LLM_BASE_URL=<bud-llm-base-url>
BUD_LLM_API_KEY=<bud-llm-api-key>
BUD_LLM_MODEL=<bud-llm-model>

#Clamav
CLAMD_HOST=0.0.0.0
CLAMD_PORT=3310
