name: "BudCustomer: Nightly Image Release"
on:
  push:
    branches:
      - 'master'
    paths:
      - 'services/budCustomer/**'
      - 'nix/workflows/dockerhub_budcustomer/**'
      - 'nix/workflows/secrets.yaml'
      - 'flake.lock'
      - 'flake.nix'
  workflow_dispatch:

jobs:
  nix-workflow:
    name: Run Nix Workflow
    uses: ./.github/workflows/nix-workflow.yaml
    with:
      workflow: dockerhub_budcustomer
      image_tag: nightly
    secrets:
      SOPS_AGE_KEY: "${{ secrets.SOPS_AGE_KEY }}"
