name: "BudModel: Build and Push Nightly Docker Image"

on:
  workflow_dispatch:
  push:
    paths:
      - 'services/budmodel/**'
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Free Disk Space
        run: |
          echo "Disk space before cleanup:"
          df -h
          docker system prune -af
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          echo "Disk space after cleanup:"
          df -h

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./services/budmodel
          push: true
          file: ./services/budmodel/deploy/Dockerfile
          tags: budstudio/budmodel:nightly
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
