name: "BudPipeline: Build and Push Nightly Docker Image"

on:
  workflow_dispatch:
  push:
    paths:
      - 'services/budpipeline/**'
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/budpipeline

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./services/budpipeline
          push: true
          file: ./services/budpipeline/deploy/Dockerfile
          tags: budstudio/budpipeline:nightly
